.preview-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .preview-item {
    position: relative;
  }
  
  .preview-image {
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .remove-button {
    position: absolute;
    top: -3%;
    right: 80%;
    background-color: transparent;
    border: none; 
    color: black;
    width: 25%;
    height: 25%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .remove-button:hover {
    opacity: 50%;
  }
  .upload-response {
    display: flex;
    align-items: center;
    margin: 5px;
  }
  
  .response-item {
    display: flex;
    align-items: center;
  }
  
  .response-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .response-info {
    display: flex;
    flex-direction: column;
  }
  
  .response-info h3 {
    margin: 0;
  }
  
  .response-info pre, .response-info p {
    margin: 0;
  }
  